@import "tailwindcss";
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0); /* سفید مطلق */
    --foreground: oklch(0.145 0 0); /* متن تیره */
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }
}

/* Mapping رنگ‌های shadcn به variables (برای Tailwind v4) */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* font-faces */
@font-face {
  font-family: 'lahze-t';
  src: url('/fonts/lahze/Lahzeh-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-el';
  src: url('/fonts/lahze/Lahzeh-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-l';
  src: url('/fonts/lahze/Lahzeh-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-m';
  src: url('/fonts/lahze/Lahzeh-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-sb';
  src: url('/fonts/lahze/Lahzeh-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-b';
  src: url('/fonts/lahze/Lahzeh-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-eb';
  src: url('/fonts/lahze/Lahzeh-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lahze-B';
  src: url('/fonts/lahze/Lahzeh-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'market-r';
  src: url('/fonts/market/market Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* /fonts */
  --font-font-lahze-thin: 'lahze-t';
  --font-font-lahze-extralight: 'lahze-el';
  --font-font-lahze-light: 'lahze-l';
  --font-font-lahze-medium: 'lahze-m';
  --font-font-lahze-semibold: 'lahze-sb';
  --font-font-lahze-bold: 'lahze-b';
  --font-font-lahze-extrabold: 'lahze-eb';
  --font-font-lahze-black: 'lahze-B';
  --font-font-market-regular: 'market-r';

  /* colors */
  --color-text-main: #1E1E1E;

  --color-bg-forground: #ededed;
  --color-bg-background: #f5f5f5;

  --color-orginal-color: #005ABA;
  --color-orginal-color-support: #034994;

  --color-little-shadow: #C7C7C7;
  --color-shadow-main: #7090B0;

  --color-box: #536579;
  --color-border: #fafafa;

  --color-alarm: #E42525;
  --color-starpoint-color: #FEC514;

  --color-bg-oldbox-color: #102238;
  --color-commentication: #F37D32;


  --color-limit-auth: #0089BF;
  --color-text-legend-input: #5D5D5D;

  --color-bg1-auth: #446F9D;
  --color-bg2-auth: #C2C6CC;
  --color-bg-cart-auth: #E2E2E2;

/* UI Status Colors */
  --color-warning-light: #FEF3C7;
  --color-warning-base: #FBBF24;
  --color-warning-dark: #B45309;

  --color-primary-light: #DBEAFE;
  --color-primary-base: #3B82F6;
  --color-primary-dark: #1E40AF;

  --color-sale-light: #FEE2E2;
  --color-sale-base: #EF4444;
  --color-sale-dark: #991B1B;

  --color-logout-light: #F3F4F6;
  --color-logout-base: #6B7280;
  --color-logout-dark: #374151;

  --color-success-light: #D1FAE5;
  --color-success-base: #10B981;
  --color-success-dark: #065F46;

  --color-pending-light: #FFFBEB;
  --color-pending-base: #F59E0B;
  --color-pending-dark: #92400E;

  /* User Role Colors */
  --color-role-admin: #6366F1;
  --color-role-buyer: #14B8A6;
  --color-role-seller: #EC4899;
}